@import url(//fonts.googleapis.com/css?family=Titillium+Web:200,200italic,300,300italic,400,400italic,600,700,700italic,600italic);
@import url(//fonts.googleapis.com/css?family=Glegoo:400,700);

$font-size-base: 16px;
$font-family-sans-serif: 'Titillium Web', "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$border-radius-base: 5px;
$brand-primary: #3BAFDA;
$brand-seconday: #4FC1E9;
$black: #2C2E33;
$black2: #4A4E53;
$text-color: $black;

$navbar-inverse-border: transparent;
$navbar-height: 55px;
$navbar-inverse-bg: $brand-seconday;
$navbar-inverse-color: #fff;
$navbar-inverse-toggle-hover-bg: none;
$navbar-inverse-toggle-icon-bar-bg: $black;
$navbar-inverse-link-color: #fff;
$navbar-inverse-link-active-bg: none;

@import "bootstrap";

body {
  background: #d8d8d8;
}

.main-wrap {
  max-width: 1475px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.navbar-fixed-top {
  max-width: 1475px;
  margin: 0 auto;
}

.meat {
  background: #fff;
}

.navbar-toggle {
  border: none;
  margin: 0;
  padding: 17px 22px;
  border-radius: 0;

  .icon-bar {
    width: 32px;
    height: 3px;

    & + .icon-bar {
      margin-top: 7px
    }
  }

  background: $brand-primary;

  &.collapsed {
    background: none;
    .icon-bar {
      background: #fff;
    }
  }

  &:hover {
    background: $brand-primary;
  }
}

.navbar-collapse {
  border: none;
  box-shadow: none;
  background: $brand-primary;
  padding: 0 10px;

  @media (min-width: $screen-sm-min) {
    background: $brand-seconday;
  }
}

.navbar-inverse .navbar-nav {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;

  .active {
    font-weight: 700;

    a:hover {
      color: #fff;
    }
  }

  li > a {
    padding: 20px 40px;
    letter-spacing: 0.5px;

    &:hover {
      color: #595d61;
    }
  }

  @media (min-width: $screen-sm-min) {
    > li > a {
      padding: 16.5px 10px;
  
      &:before {
        content: '';
        border-right: 1px solid #fff;
        height: 18px;
        margin: 2px 10px 0 -5px;
        display: block;
        float: left;
      }
    }

    > li:first-child > a:before {
      display: none;
    }
  }
}


#navbar {
  @media (min-width: $screen-sm-min) {
    float: right;
  }
}

.social-links {
  list-style: none;
  margin: 0;
  padding: 0 10px 20px;
  
  li {
    display: inline-block;
  }

  .block-link {
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    display: inline-block;
    padding-left: 10px;
    background-size: 50px;
  }

  .twitter {
    background-image: url(../images/twitter.svg);


    &:after {
      display: none;
      content: url("../images/twitter-hover.svg");
    }

    &:hover {
      background-image: url("../images/twitter-hover.svg");
    }
  }


  .angel {
    background-image: url(../images/angel.svg);

    &:after {
      display: none;
      content: url("../images/angel-hover.svg");
    }

    &:hover {
      background-image: url("../images/angel-hover.svg");
    }
  }

  .contact {
    background-image: url(../images/contact.svg);

    &:after {
      display: none;
      content: url("../images/contact-hover.svg");
    }

    &:hover, &.toggled {
      background-image: url("../images/contact-hover.svg");
    }
  }

  @media (min-width: $screen-sm-min) {
    .block-link {
      height: 40px;
      width: 40px;
      background-size: 40px 40px;
    }
  }
}

.meat {
  padding: 55px 0 0;
}

.carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  font-weight: 300;
  font-size: 36px;
  color: #fff;
  text-align: left;
  text-shadow: none;
  padding: 20px 25px;
  background: rgba(44,46,51,0.90);

  @media (min-width: $screen-sm-min) {
    position: absolute;
    right: 0;
    top: 50%;
    bottom: initial;
    left: initial;
    transform: translate(0, -50%);
    width: 400px;
    font-size: 42px;
    padding: 20px 40px;

    &.left {
      left: 0;
      right: initial;
    }
  }

  @media (min-width: $screen-lg-min) {
    font-size: 64px;
    width: 560px;
  }
}

.carousel-indicators {
  bottom: 12px;

  li {
    background: #fff;
    border: none;
    width: 12px;
    height: 12px;
    margin-left: 14px;

    &.active {
      background: $brand-seconday;
      width: 12px;
      height: 12px;
      margin: 1px;
      margin-left: 14px;
    }

    &:first-child {
      margin-left: none;
    }
  }
}

.carousel-caption {
  opacity: 0;

  transition: opacity 1.5s ease;

  &.active {
    opacity: 1;
  }
}

.section-subscribe {
  background: #3C4046;
  color: #AAB2B9;

  padding: 30px 0 15px;

  .subscribe-input input {
    text-transform: uppercase;
  }
    
  @media (min-width: $screen-sm-min) {
    .subscribe-input {
      padding-right: 1px;
    }
    .seperater-wrap {
      width: 20px;
    }

    .follow {
      padding-left: 0;
      padding-right: 0;

      .lead {
        margin-left: 25px;
      }
    }
  }
}

.follow {
  .social-links {
    padding: 20px 0 0;
  }

  @media (min-width: $screen-sm-min) {
    padding-bottom: 40px;
    .social-links {
      padding: 0;

      p.lead {
        padding: 0;
        font-size: 16px;
      }
    } 
  }
}


.section-why {
  background: #D6DBE0;

  padding: 40px 0;

  p {
    font-size: 18px;
    margin: 0;
  }
}

.btn {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  padding: 8px 15px;
  width: 100%;
}

.breath-xs {
  margin-top: 18px;

  @media (min-width: $screen-sm-min) {
    margin-top: auto;
  }
}


.form-control {
  padding: 8px 15px;
  font-size: 18px;
  height: 43px;
}

.lead {
  text-align: center;
  padding: 18px 0 18px;
  margin: 0;

  @media (min-width: $screen-sm-min) {
    text-align: left;
    font-size: 16px;
  }
}

hr {
  margin: 0 20px;
  border-top: 1px solid #73787D;
}

.centered {
  text-align: center;
}

.centered-xs {
  text-align: center;

  @media (min-width: $screen-sm-min) {
    text-align: initial;
  }
}

.right-aligned-sm {
    @media (min-width: $screen-sm-min) {
    text-align: right;
  } 
}

.vertical-seperator {
  border-right: 1px solid #73787D;
  height: 43px;
  margin: auto;
  width: 1px;
}

.illustration {
  padding: 30px 0 78px;

  strong {
    font-weight: 600;
  }

  .img-responsive {
    margin: auto;
  }

  .sub-title {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.2px;
  }

  .title {
    color: $black2;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.12px;
    line-height: 1.15;
  }

  .cartoon {
    .hover-image {
      display: none;
    }
    
    &:hover, &:active {
      .normal-state-image {
        display: none;
      }

      .hover-image {
        display: block;
      }
    } 
  }

  .description {
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
    letter-spacing: 0.2px;
    img {
      padding-bottom: 20px;
    }
  }

  @media (min-width: $screen-sm-min) {
    padding: 100px 0;

    .sub-title {
      font-size: 20px;
      letter-spacing: 0.2px;
    }

    .title {
      font-size: 40px;
      line-height: 1.2;
    }

    .description {
      font-size: 24px;
      width: 90%;
      margin-top: 20px;
      letter-spacing: 0.2px;
    }
  }
}

.section-basecamp {
  background: #3C4046;
  color: #fff;

  .title {
    color: #fff;
  }

  .sub-title, .description {
    color: #b4bcc4;
    letter-spacing: 0.3px;
  }
}

footer {
  background: $brand-primary;
  padding: 40px 0 0;
  color: #fff;
  font-size: 14px;

  ul {
    list-style: none;
    padding: 0 10px;
  }

  p {
    font-size: 14px;
  }

  hr {
    border-top: 1px solid #65CDF1;
    margin: 0;
  }

  .social-links a {
    display: block;
    height: 40px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position:center left;
    padding: 8px 60px;
    font-size: 16px;
    font-weight: 300;
    margin: 17px 0 5px;

    &:hover, &:active, &:focus {
      color: #fff;
    }
  }

  .links a {
    text-transform: uppercase;  
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 20px;
    display: block;
  }

  
  a {
    color: #fff;
    letter-spacing: 0.3px;
    font-weight: 300;

    &:hover, &:active, &:focus {
      color: #595d61;
      text-decoration: none;
    }
  }

  .logo-wrap {
    padding: 30px 10px;
  }

  .copyright {
    padding: 35px 15px 5px;
    font-size: 14px;  
  }

  @media (min-width: $screen-sm-min) {
    padding: 80px 10px 60px;

    .logo-wrap {
      padding: 5px 0 30px;
    }

    .social-links {
      padding: 0;
      a {
        margin: 0 0 17px;
      }
    }

    .links {
      border-left: 1px solid #65CDF1;
      border-right: 1px solid #65CDF1;

      min-height: 160px;
      padding: 10px 30px;
    }

    .copyright {
      padding: 10px 0;
      margin-top: 40px;
    }
  }
}

.features {
  padding: 35px 0 63px;

  .intro {
    color: #fff;
    padding: 50px 0 35px;
    background: #3C4046;
    margin-bottom: 20px;
    
    p {
      font-weight: 300;
      font-size: 16px;
      color: #AAB2B9;
      margin-bottom: 17px;
      letter-spacing: 0.3px;
    }

    h1 {
      margin-top: 10px;
      font-size: 30px;
      font-weight: 300;
    }
  }

  h2 {
    font-weight: 300;
    font-size: 36px;
    margin: 0 0 18px;
    line-height: 0.9;
  }


  p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.2px;
  }

  .feature-wrap {
    padding: 0 0 80px;

    p {
      padding-bottom: 20px;
    }
  }

  @media (min-width: $screen-sm-min) {
    padding: 55px 0 175px;
    .feature-wrap {
      padding: 0 0 120px;
      p {
        padding: 0;
      }
    }
    .intro {
      padding: 90px 0;
      margin-bottom: 90px;
      
      p {
        font-size: 18px;
        margin-bottom: 15px;
      }

      h1 {
        font-size: 55px;
      }
    }
    h2 {
      font-size: 40px;
    }
  }
}


.meta {
  font-size: 14px;
  color: #73787D;
  text-align: center;

  .twitter-small {
    background: url("../images/twitter-small.svg") 0 0 no-repeat;
    width: 15px;
    height: 13px;
    display: inline-block;
    margin: 0  0 0 10px;

    &:after {
      display: none;
      content: url("../images/twitter-small-hover.svg");
    }

    &:hover {
      background-image: url("../images/twitter-small-hover.svg");
    }
  }

  .linkedin-small {
    background: url("../images/linkedin-small.svg") 0 0 no-repeat;
    width: 15px;
    height: 14px;
    display: inline-block;
    margin: 0  10px  0 10px;


    &:after {
      display: none;
      content: url("../images/linkedin-small-hover.svg");
    }

    &:hover {
      background-image: url("../images/linkedin-small-hover.svg");
    }
  }

  .date {
    border-left:1px solid #73787D;
    padding-left: 10px;
  }
}

.blog {
  article {
    padding: 35px 0 60px;
  }

  .twitter-share-wrap {
    margin: 70px 0 0;
    .twitter-share {
      background: url("../images/twitter-small-hover.svg") left center no-repeat;
      color: #3BAFDA;
      padding-left: 30px;
    }
  }

  hr {
    margin: 5px 0;
    width: 100%;
    border-top: 1px solid #d8d8d8;
  }

  h1 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 14px;
  }

  p {
    font-size: 13px;
    font-family: 'Glegoo', serif;
    line-height: 1.75;
  }

  a {
    color: #4A89DC;
  }

  @media (min-width: $screen-sm-min) {
    article {
      padding: 60px 0 75px;
    }

    h1 {
      font-size: 40px;
      margin-bottom: 45px;
      margin-top: 14px;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
    }

    .meta {
      font-size: 14px;
    }
  }
}

.col-sm-1by5 {
  padding: 0 25px;
  
  @media (min-width: $screen-sm-min) {
    width: 20%;
  }
}

.images-list {
  img {
    padding: 20px 0;
  }
}

.section-contact {
  background: $black;
  color: #AAB2B9;
  font-weight: 300;
  overflow: hidden;
  transition: all 1s ease;
  max-height: 1000px;
  
  .contact-wrap {
    padding: 0 0 40px;
  }


  &.collapsed {
    padding: 0;
    max-height: 0;
  }

  label {
    font-size: 16px;
    font-weight: 400;
    margin-top: 18px;
    text-transform: uppercase;    
  }

  .btn-send {
    width: auto;
    margin: 18px auto 0;
    padding-right: 60px;
    padding-left: 60px;
  }

  h2 {
    font-weight: 300;
    margin: 32px 0 17px;
  }

  position: relative;

  .close-contact {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    background: url("../images/close-cross.svg") 0 0 no-repeat;
    z-index: 10;
  }

  @media (min-width: $screen-sm-min) {

    .contact-wrap {
      padding: 0 0 77px;
    }

    .close-contact {
      top: 25px;
      right: 25px;
    }

    h2 {
      margin: 40px 0 17px;
    }
  }
}