<footer>
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-sm-1by5">
          <div class="logo-wrap">
            <a class="navb" href="#">
              <img src="images/logo.svg" alt="Connecter.io" class="logo" />
            </a>
            <p class="copyright hidden-xs">Copyright © <br> Connecter.io 2015</p>
          </div>
        </div>
        <div class="col-sm-1by5">
          <ul>
            <li class="active"><a class="title" href="index.html">The APP</a></li>
          </ul>
        </div>
        <div class="col-sm-1by5">
          <ul>
            <li><a class="title" href="index.html">Features</a></li>
          </ul>
        </div>
        <div class="col-sm-1by5">
          <ul>
            <li><a class="title" href="blog.html">Blog</a></li>
          </ul>
        </div>
        <div class="col-sm-1by5">
          <h3 class="title hidden-xs">Network</h3>
          <ul class="social-links">
            <li><a href="#" class="block-link twitter"><span class="sr-only">Twitter</span></a></li>
            <li><a href="#" class="block-link linkedin"><span class="sr-only">Linked In</span></a></li>
            <li><a href="#" class="block-link plus"><span class="sr-only">Google Plus</span></a></li>
          </ul>
          <p class="copyright visible-xs">Copyright © Connecter.io 2015</p>
        </div>
      </div>
    </div>          
  </div>   
</footer>

<script src="scripts/jquery.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>
</body>
</html>