<footer>
  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <div class="logo-wrap">
          <a href="/">
            <img src="/images/logo.svg" alt="Connecter.io" class="logo" />
          </a>
          <p class="copyright hidden-xs">Copyright © <br> Connecter.io 2015</p>
        </div>
      </div>

      <div class="col-sm-3 links">
        <ul>
          <li><a href="/index.html">The APP</a></li>
          <li><a href="/features.html">Features</a></li>
          <li><a href="/blog.html">Blog</a></li>
        </ul>
        <hr class="visible-xs">
      </div>

      <div class="col-sm-6">
        <div class="social-links">
          <a href="https://twitter.com/ConnecterIO" class="contact">Contact us</a>
          <a href="https://twitter.com/ConnecterIO" class="twitter">Follow us on Twitter</a>
          <a href="https://twitter.com/ConnecterIO" class="angel">Follow us on AngelList</a>
        </div>
        <hr class="visible-xs">
      </div> 
      <div class="clearfix"></div>
      <div class="col-xs-12">
        <p class="copyright visible-xs">Copyright © Connecter.io 2015</p>
      </div>
    </div>
  </div>
</footer>
<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
  $('.blog').on('click', '.read-more', function(e) {
    event.preventDefault();
    $(this).closest('article').load($(this).attr('href') + ' #post');
  });
});
</script>
</body>
</html>