<div class="section-contact collapsed">
  <div class="contact-wrap">
    <div class="container">
      <a href="javascript:;" class="close-contact contact-form-toggle"><span class="sr-only">Close contact form</span></a>
      <div class="row">
        <div class="col-xs-12">
          <h2>Contact us</h2>
        </div>
      </div>
      <form action="">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-12">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control contact-form-name">
              </div>
              <div class="col-sm-12">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control">
              </div>

              <div class="col-sm-12">
                <label for="city">City/Country</label>
                <input type="city" id="city" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-xs-12">
                <label for="message">Message</label>
                <textarea id="message" rows="6" class="form-control"></textarea>
                <div class="centered-xs right-aligned-sm">
                  <input type="submit" class="btn btn-primary btn-send" value="Send">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <div class="logo-wrap">
          <a href="/">
            <img src="/images/logo.svg" alt="Connecter.io" class="logo" />
          </a>
          <p class="copyright hidden-xs">Copyright © <br> Connecter.io 2015</p>
        </div>
      </div>

      <div class="col-sm-3 links">
        <ul>
          <li><a href="/index.html">The APP</a></li>
          <li><a href="/features.html">Features</a></li>
          <li><a href="/blog.html">Blog</a></li>
        </ul>
        <hr class="visible-xs">
      </div>

      <div class="col-sm-6">
        <div class="social-links">
          <a href="javascript:;" class="contact contact-form-toggle">Contact us</a>
          <a href="https://twitter.com/ConnecterIO" target="_blank" class="twitter">Follow us on Twitter</a>
          <a href="https://angel.co/connecter-io" target="_blank" class="angel">Follow us on AngelList</a>
        </div>
        <hr class="visible-xs">
      </div> 
      <div class="clearfix"></div>
      <div class="col-xs-12">
        <p class="copyright visible-xs">Copyright © Connecter.io 2015</p>
      </div>
    </div>
  </div>
</footer>
<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
  $('.blog').on('click', '.read-more', function(e) {
    event.preventDefault();
    var context = $(this).closest('article'),
    url = $(this).attr('href'),
    title = $('h1', context).html();

    context.load(url + ' #post', function() {
      context.find('a.twitter-share').attr('href',
        'http://twitter.com/share?text=' + title + '&url=' + window.location.protocol + '//' + window.location.host + url);
    });
  });

  var form = $('.section-contact');

  $('.contact-form-toggle').on('click', function() {
    form.toggleClass('collapsed');
    $('.contact-form-toggle').toggleClass('toggled');

    if(!form.hasClass('collapsed')) {
      $('html,body').animate({scrollTop: form.offset().top - 55}, 500);
      $('.contact-form-name').focus();
    }
  });
});
</script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-51486230-4', 'auto', {'name': 'siteTracker'});
ga('siteTracker.send', 'pageview');
</script>
</body>
</html>