<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-3">
            <div class="logo-wrap">
              <a href="/">
                <img src="images/logo.svg" alt="Connecter.io" class="logo" />
              </a>
              <p class="copyright hidden-xs">Copyright © <br> Connecter.io 2015</p>
            </div>
          </div>
          <div class="col-sm-8 col-sm-offset-1">
            <ul>
              <li><a class="title" href="index.html">The APP</a></li>
              <li><a class="title" href="index.html">Features</a></li>
              <li><a class="title" href="blog.html">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="centered-xs col-sm-4 follow">
          <div class="social-links">
            <div class="row">
              <div class="col-sm-3">
                <a href="https://twitter.com/ConnecterIO" class="block-link twitter"><span class="sr-only">Twitter</span></a>
              </div>
              <p class="lead col-sm-9">Follow us on Twitter: <br><a href="https://twitter.com/ConnecterIO">https://twitter.com/ConnecterIO</a></p>
            </div>
          </div>
          <div class="cleafix"></div>
        </div>
        <p class="copyright visible-xs">Copyright © Connecter.io 2015</p>
      </div>
  </div>   
</footer>

<script src="scripts/jquery.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>
</body>
</html>