<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Connecter - it's about the content and not the meeting itself. Getting creative work done effectively is what matters most.">
  <meta name="author" content="Connecter.io">
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="styles/main.css">
  <title>Connecter.io</title>
</head>

<body>
  <div class="main-wrap">
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img src="images/logo.svg" alt="Connecter.io" class="logo">
            </a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="{{#if active_index}}active{{/if}}"><a href="index.html">The APP</a></li>
              <li class="{{#if active_features}}active{{/if}}"><a  href="features.html">Features</a></li>
              <li class="{{#if active_blog}}active{{/if}}"><a href="blog.html">Blog</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>